body {
  font-family: "SF Pro Display";
  -webkit-tap-highlight-color: transparent;
}

button {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
}

button, label {
  cursor: pointer;
}

button, img {
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

input[type="radio"], input[type="checkbox"] {
  @include visually-hidden();
  
  &:not(:focus):not(:active) {
    @include visually-hidden();
  }
}