$mainBlack: #282828;
$mainWhite: #FFFFFF;
$mainGray: #C7C7C7;
$mainRed: #FA434B;

$acceptGray: #C4C4C4;
$acceptDark: #86837F;
$acceptWhite: #FBFBFB;

$darkGray: #818181;

$z-100: 100;
$z-200: 200;
$z-300: 300;
$z-400: 400;
$z-500: 500;

$transition: 0.4s;