.paymentScheme {
  width: 100%;

  &Scheme {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(5);
    
    @include mobile() {
      margin-bottom: rem(20);
    }
  }

  &Number {
    @include fluid-text(14, 10);
    margin: 0;
  }
}