@use "sass:math";
@use "./functions.scss" as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin hide() {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
  width: 0;
  height: 0;
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  opacity: 0.01;
}