.paymentPrice {
  &Image {
    width: 100%;
    height: rem(496);
    background: no-repeat top;
  }

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-s() {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(10);
      padding-top: rem(25);
    }
  }

  &Buy {
    @include fluid-text(36, 24);
    color: $mainBlack
  }

  &Price {
    @include fluid-text(36, 20);
    padding: clamp(rem(24), 5vw, rem(39)) clamp(rem(28), 5vw, rem(50));
    background-color: $mainRed;
    color: $mainWhite;
  }
}