.schemeElement {
  display: block;
  width: rem(15);
  height: rem(15);
  background-color: $acceptGray;
  border-radius: 50%;
  outline: rem(1) solid transparent;
  outline-offset: rem(1);

  &Active {
    outline-color: $mainRed;
  }

  @include mobile() {
    height: rem(10);
    width: rem(10);
  }
}