.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-block: rem(8);
  width: 100%;
  background-color: $mainWhite;
  z-index: $z-400;

  &Container {
    display: flex;
    align-items: center;
    column-gap: rem(40);

    @include mobile() {
      justify-content: space-between;
    }
  }

  &LogoBlock {
    display: flex;
    align-items: center;
    column-gap: rem(20);
  }

  &LogoSlogan {
    font-size: rem(14);
    font-weight: 600;

    @include mobile-above() {
      display: none;
    }
  }

  &List {
    @include mobile() {
      display: none;
    }
  }

  &BurgerList {
    flex-direction: column;
    font-size: rem(24);
    font-weight: 600;
  }

  &Close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-500;

    @include mobile-above() {
      display: none !important;
    }
  }
}